mixin links
	link(rel="stylesheet", href="main.css")
mixin logo
	|
	|
	a(href="#", class="logo-link")
		img(src="img/.*", alt="Логотип", width="", height="", class="logo-img")
mixin nav
	nav.main-header-nav
		each val in [1, 2, 3, 4, 5]
			li.main-header-nav-item
				a(href="#").main-header-nav-link=val
mixin logo-nav
	nav.main-header-nav
			|
			|
			a(href="#", class="logo-link")
				img(src="img/.*", alt="Логотип", width="", height="", class="logo-img")
			each val in [1, 2, 3, 4, 5]
				li.main-header-nav-item
					a(href="#").main-header-nav-link=val
mixin contacts
	.contacts
		address.main-header-contacts-postal
		form(action="#")
			button.main-header-contacts-button