block variables
	include ../includes/variables-header.pug
include ../includes/mixins.pug

header.main-header
	if container
		.container
			if innerHeader 
				.inner-header
			if innerTop
				.inner-top
				+logo
				+contacts
			if innerMiddle
				.inner-middle
			if innerBottom
				.inner-bottom
				+nav




