block variables
	include ../includes/variables-pages.pug

doctype html
html
	head(lang=lang)
		block metatags
		title=site+page
		block links
		block fonts
		block scripts
	body
		include ../regions/header
		main
		footer
